* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    text-decoration: none;
}

footer {
    background-color:black;
    color: white;
    padding: 50px 100px;
    flex-direction: column;
}


footer .rodape {
    display: flex;
    justify-content: space-between;
  }

  footer .conteudo p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 40px;
  }
  footer .conteudo {
    display: flex;
    gap: 35px;
  }
  .sitemap a{
    color: white;
  }
  .categorias a{
    color: white;
  }
  
 
  

  